
# Database configuration
CHROMA_DB_PATH=database
CHUNK_SIZE = 1200  # Size of text chunks for processing
CHUNK_OVERLAP = 50  # Overlap between chunks to maintain context
CHUNK_SENTENCE_OVERLAP = 1  # Overlap between sentences in chunks
COLLECTION_NAME = document_chunks  # ChromaDB collection name
EMBEDDING_MODEL = text-embedding-3-small  # OpenAI model
MAX_WORKERS = 5  # Number of parallel embedding workers
BATCH_SIZE = 100  # Batch size for API calls and DB operations


# Database configuration
CHROMA_DB_PATH=database
ALGOLIA_API_KEY=...
EMBEDDING_PROVIDER=sentence_transformers
EMBEDDING_MODEL=all-MiniLM-L6-v2
HF_TOKEN=... # huggingface

# Postgress Database
PG_HOST=localhost
PG_PORT=5432
PG_DBNAME=pg_database
PG_USER=app_user_pgvector
PG_PASSWORD=...
PGSSLMODE=require
PG_TABLE_NAME=documents
PG_USE_ENTRA_AUTH=False