fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
python-dotenv==1.0.1
openai==1.65.5
sse-starlette==1.6.5
chromadb==0.4.18
langchain==0.3.20
langchain-text-splitters==0.3.6
PyPDF2==3.0.1
python-docx==1.1.2
requests==2.31.0
SQLAlchemy==2.0.38
dateparser==1.2.2